html {
    font-size: 16px;    
}

.markers-list {
    list-style: none;
}

.markers-list li {
    display: inline-block;
    padding: 1rem 2rem;
    margin: 0 1rem;
    border: 1px solid #000;
}

.markers-list li a {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}